.container{
    display: flex;
        flex-direction: row;
        gap: 10px;
        background-color: rgb(255, 140, 0);

    
    }

    .bloc{

        width: 100px;
        background-color: aqua;

        height: 100px;}


       

        @media (min-width: 576px) and (max-width: 768px)           {
          .container{  background-color: red;
            flex-direction: column;
            gap: 10px;


            }

        }

   
